<% content_for :title, "Editing tweet" %>

<h1 class="my-5 text-center">Editar tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class = "text-center">
  <%= link_to "Ver tweet", @tweet, class: "btn btn-sm btn-secondary px-4" %>
  <%= link_to "Retornar a tweets", tweets_path , class: "btn btn-sm btn-secondary" %>
</div>
