<% content_for :title, "Editing tweet" %>

<h3 class="my-3 text-center text-white">Editar tweet  <%= @tweet.id %></h3>

  <div class="col  border rounded-4">
    <%= render "form", tweet: @tweet %>
  </div>


<div class = "d-flex justify-content-evenly  ">
  <%= link_to "Ver tweet", @tweet, class: "btn btn-sm btn-success px-4" %>
  <%= link_to "Retornar a tweets", tweets_path , class: "btn btn-sm btn-secondary" %>
</div>
