<% content_for :title, "Nuevos tweet" %>

<h1 class="my-5 text-center">Nuevos tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class= "text-center">
  <%= link_to "Retornar", tweets_path, class: "btn btn-sm btn-secondary" %>
</div>
