<% content_for :title, "Nuevos tweet" %>

<h3 class="my-5 text-center">Ingrese su nuevo tweet </h3>

<%= render "form", tweet: @tweet %>

<br>

<div class= "text-center">
  <%= link_to "Retornar", tweets_path, class: "btn btn-sm btn-secondary" %>
</div>
